 [Unit]
 Description=Inky Slideshow Service
 After=multi-user.target

 [Service]
 Type=exec
 WorkingDirectory=/home/sayan/inky-slideshow/
 ExecStart=/home/linuxbrew/.linuxbrew/bin/hatch slideshow /home/sayan/images

 [Install]
 WantedBy=multi-user.target
